
#about h1 {
  margin: 40px 30px;
  color: rgb(var(--color-main-700));
  text-shadow: 0.4px 0.4px rgb(var(--color-background-second));
}

.about-container {
  background: url('../images/dots.svg') center;
  box-shadow: inset 0 0 0 2300px rgb(var(--color-background-second), 62%);
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  word-spacing: 0.2rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0;
  margin-top: 0;
}

.about-content {
  display: flex;
  align-items: center;
  align-content: center;
  line-height: 1.5rem;
  color: rgb(var(--color-primary));
  text-shadow: 0.4px 0.4px rgb(var(--color-background-second));
}

.about-info h3 {
    border-bottom: 3px ridge rgb(var(--color-background-main));
    line-height: 2rem;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

.about-info ul:last-child {
    border-bottom: 2px ridge rgb(var(--color-background-main));
}

.about-info {
  margin: 2% 6%;
}

.about-info p {
  margin-left: 20px;
}

.about-info li {
  margin-left: 20px;
}

.about-content p {
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.about-info ul {
  list-style: none;
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-skills {
  margin: 2% 6%;
}

.skills-icons {
  background: linear-gradient(180deg,
    rgb(var(--color-background-second), 30%),
    rgb(var(--color-background-second), 40%),
    rgb(var(--color-background-second), 50%),
    rgb(var(--color-background-second), 60%),
    rgb(var(--color-background-second), 70%),
    rgb(var(--color-background-second), 90%)
    );

  border-radius: 35%;
  padding: 1.5rem;
}

.about-skills h1 {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  color: rgb(var(--color-main-700));
  text-shadow: 0.4px 0.4px rgb(var(--color-background-second));
}
.about-skills .colored {
  font-size: 2.5rem;
  margin: 0.5rem 0.5rem;
  padding: 0.1rem;
  opacity: 0.8;
}

.about-skills .colored:hover,
.about-skills .colored:focus {
  transform: scale(1.05);
  opacity: 1;
  outline: none;
}

i[title]:hover::after,
i[title]:focus::after {
  content: attr(title);
  position: absolute;
  top: -40%;
  left: 15%;
  font-size: 1rem;
  opacity: 1;
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .about-content {
    flex-direction: column;
  }
}

