
.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: none !important;
}

.btn--outline {
  background-color: transparent;
  color: var(--secondary);
  padding: 8px 20px;
  border: 1px solid var(--background);
  transition: all 0.3s ease-out;
  border-radius: 3px;
  text-shadow: 1px 1px var(--primary);
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
}


.btn--medium:hover,
.btn:hover,
.btn--outline:hover,
.btn--medium:focus-within,
.btn:focus-within,
.btn--outline:focus-within {
  transition: all 0.3s ease-in-out;
  background: var(--background);
  color: var(--secondary);
  opacity: 0.9;
  outline: none;
  text-shadow: 1px 1px var(--primary);
  transform: scale(0.99) translateX(1%) translateY(-1%);
  box-shadow: 1px 1px var(--hover) !important;
}
