.carousel-inner {
  height: 53vh;
}


.carousel-item img {
  border-radius: 1.5rem;
  width: 65%;
  margin: 0 auto;
  height: 50vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.carousel-indicators li {
  background-color: rgb(var(--color-primary));
}


.carousel-inner .active {
  border-bottom: none !important;
}

.carousel-item.active {
  display: flex;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  text-decoration: none;
  background-image: none;
  color: none;
}

.carousel-control-prev, .carousel-control-next {
  color: transparent;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:focus,
.carousel-control-next-icon:focus,
.carousel-control-next-icon:focus-visible,
.carousel-control-prev-icon:focus-visible {
  color: none;
  outline: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 2rem;
  color: rgb(var(--color-primary));
  text-decoration: none;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 2rem;
  color: rgb(var(--color-primary));
  text-decoration: none;
}
