.carousel-wrapper {

}

.carousel-inner {
  height: 53vh;
}


.carousel-item img{
  border-radius: 1rem;
  border: 1px solid black;
  width: auto;
  margin: 0 auto;
  height: 50vh;
  object-fit: contain;
}

.carousel-indicators li {
  background-color: #0a3535e6;
}


.carousel-inner .active {
  border-bottom: none !important;
}

.carousel-item.active {
  display: flex;
}
