.contact-container {
  background-color: #242424;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.contact-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
}
.contact-wrapper {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.contact-wrapper input, textarea {
  min-width: 100%
}

.contact-field {
  max-width: 600px;
  padding: 10px;
  min-width: 375px;
}

.contact-field {
  max-width: 500px
}

#submit-btn {
  width: 200px;
  padding: 10px;
}

#submit-btn input:hover {
  color: var(--secondary);
  transition: 0.2s;
  transform: scale(1.05);
  cursor: pointer;
}
