

.hero-container {
  /*background: url('../images/alex-sketcher.jpeg') center center/cover no-repeat;*/
  background-image:
    linear-gradient(to bottom, rgb(122 154 151 / 52%), rgb(131 134 134 / 50%)),
    url('../images/alex-sketcher.jpeg');
  background-size: contain, cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 0 1700px rgb(27 94 101 / 42%);
  object-fit: contain;
  word-spacing: 0.2rem;
}


.hero-container > h1 {
  color: #fff;
  font-size: 65px;
  margin-top: 30vh;
  text-shadow: 2px 2px #15131496;
  margin-left: 7%;

}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-shadow: 2px 2px #15131496;
  margin-left: 11%;
}

.hero-btns {
  margin-top: 32px;
  margin-left: 12%;
}

.hero-btns a {
  color: var(--primary);
  text-shadow: 1px 1px #0a282b;
  cursor: pointer;
  text-decoration: none;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-arrow-alt-circle-down {
  margin-left: 0.7rem;
}

.btn:hover > .fa-arrow-alt-circle-down {
  transform: rotateZ(180deg) rotateX(180deg);
  transition: all 0.4s ease-in;
  text-shadow: none;
}


@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: 40vh;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
