
.hero-container {
  background-image:
    linear-gradient(to bottom, rgb(122 154 151 / 52%), rgb(131 134 134 / 50%)),
    url('../images/alex-sketcher.jpeg');
  background-size: contain, cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 0 2333px rgb(27 94 101 / 42%);
  object-fit: contain;
  word-spacing: 0.2rem;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 16%;
}

.hero-content > h1 {
  color: #fff;
  font-size: 3.5rem;
  text-shadow: 2px 2px #15131496;
  letter-spacing: 0.2rem;
}

.hero-content > p {
  color: #fff;
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-shadow: 2px 2px #15131496;
  letter-spacing: 0.1rem;
}

.hero-btns {
  margin-top: 1.5rem;
}

.hero-btns a {
  color: var(--primary);
  text-shadow: 1px 1px #0a282b;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-arrow-alt-circle-down {
  margin-left: 0.7rem;
}

.btn:hover > .fa-arrow-alt-circle-down,
.btn:focus-within > .fa-arrow-alt-circle-down {
  transform: translateY(10%);
  transition: all 0.1s ease-in-out;
  text-shadow: none;
  outline: none;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme-changer {
  position: absolute;
}

svg text {
  fill: white;
  opacity: 0.7;
  letter-spacing:  0.2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1150px) {
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -15%;
    margin-right: 4%;
  }

}

@media screen and (max-width: 768px) {
  .hero-content {
    margin-top: 55%;
  }
  .hero-content > p {
    font-size: 1.8rem;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
  }
    .theme-wrapper {
    position: absolute;
    top: 21vh;
    left: 5vw;
  }
}

@media screen and (max-width: 540px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }
  .hero-content p {
    font-size: 1.3rem;
  }
  .hero-content a {
    font-size: 0.9rem;
  }
}


