
.hero-container {
/*  background-image:
    linear-gradient(to bottom, rgb(122 154 151 / 52%), rgb(131 134 134 / 50%)),
    url('../images/alex-sketcher.jpeg');*/
  background: url('../images/dots.svg') center;
  box-shadow: inset 0 0 0 2300px rgb(var(--color-background-main), 82%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: contain;
  word-spacing: 0.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 16%;
}

.hero-content > h1 {
  color: rgb(var(--color-main-700));
  font-size: 3.5rem;
  text-shadow: 1px 1px 1px rgb(var(--color-background-second));
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.hero-content > p {
  color: rgb(var(--color-main-500), 70%);
  font-size: 1.7rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-shadow: 1px 1px rgb(var(--color-background-second));
  letter-spacing: 0.1rem;
}

.hero-btns {
  margin-top: 1.5rem;
}


.fa-arrow-alt-circle-down {
  margin-left: 0.7rem;
}

.btn:hover > .fa-arrow-alt-circle-down,
.btn:focus-within > .fa-arrow-alt-circle-down {
  transform: translateY(10%);
  transition: all 0.3s ease-in-out;
  color: rgb(var(--color-primary));
  text-shadow: none;
  outline: none;
}


.theme-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.theme-wrapper button {
  transform: scale(0.7);
}

.theme-changer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg text {
  font-size: 1.1rem;
  opacity: 0.5;
  letter-spacing:  0.5rem;
  text-transform: capitalize;
  font-variant: petite-caps;
  transition: all 0.5s ease-in-out;
  text-shadow: 2px 2px 5px white;
}



@media screen and (min-width: 1150px) {
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -15%;
    margin-right: 4%;
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    margin-top: 55%;
  }
  .hero-content > p {
    font-size: 1.8rem;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
  }
    .theme-wrapper {
    position: absolute;
    top: 21vh;
    left: 5vw;
  }
}

@media screen and (max-width: 540px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }
  .hero-content p {
    font-size: 1.3rem;
  }
  .hero-content a {
    font-size: 0.9rem;
  }
}


