.close {
  padding: 0.1rem 0.6rem !important;
  margin: 0 !important;
  border-radius: 50%;
  background: lightred;
  background: rgb(var(--color-background-third), 20%);
  color: rgb(var(--color-main-700));
  border: 0.01rem rgb(var(--color-main-300)) solid;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.modal {
  max-height: 100vh !important;
}

body.modal-open #root{
  filter: blur(2px);
}

.close:hover,
.close:focus {
  transform: rotate3d(0, 0, 1, 90deg);
  outline: none;
  color: rgb(var(--color-primary));
}

.modal-content {
  background-color: rgba(var(--color-background-main));
}


.modal-header {
  display: flex;
  justify-content: space-between;
  background: rgb(var(--color-background-second));
}


.modal-header h2 {
  margin-left: 40%;
  letter-spacing: 0.2rem;
  color: rgb(var(--color-main-700));
}


.modal-body-info {
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  margin-left: 1.5rem;
  overflow: auto;
  height: 50vh;
  color: rgb(var(--color-main-500));
  margin-top: 5px;
  padding-top: 10px;
}
.modal-body-info h4 {
  font-size: 1.7rem;
}
.modal-body-info p {
  margin-left: 2rem;
  padding-top: 0.2rem;
  margin-top: 0.2rem;
  scroll-behavior: smooth;
  margin-block-end: 0.5rem;
  margin-block-start: 0.5rem;
}

.modal-footer {
  justify-content: space-evenly;
  color: rgb(var(--color-primary));
  background: rgb(var(--color-background-second));
}

.footer-links i {
  margin-left: 0.7rem;
  transition: all 0.5s ease-in-out;
  color: rgb(var(--color-main-700));
}

.footer-links:hover i,
.footer-links:focus i {
  color: rgb(var(--color-primary));
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .modal-header h2 {
    margin-left: 10%;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80vw !important;
    margin: 1.75rem auto !important;
  }
}

@media (min-width: 200px) {
  .modal-dialog {
    position: relative;
    width: 90vw;
    margin: 1rem auto;
    pointer-events: none;
  }
}
