.close {
  padding: 0.1rem 0.6rem !important;
  margin: 0 !important;
  border-radius: 50%;
  background: lightred;
  background: rgb(var(--color-primary));
  color: white;
  border: 0.01rem rgb(var(--color-main-300)) solid;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

body.modal-open #root{
  filter: blur(2px);
}

.close:hover,
.close:focus {
  transform: rotate3d(0, 0, 1, 90deg);
  outline: none;
}

.modal-content {
  background-color: rgba(var(--color-background-second));
}


.modal-header {
  display: flex;
  justify-content: space-between;
}


.modal-header h2 {
  margin-left: 40%;
  letter-spacing: 0.2rem;
  color: rgb(var(--color-main-700));
  text-shadow: 0.4px 0.4px rgb(var(--color-background-second));
}


.modal-body-info {
  letter-spacing: 0.03rem;
  word-spacing: 0.1rem;
  margin-left: 1.5rem;
  overflow: auto;
  height: 50vh;
  color: rgb(var(--color-main-500));
  text-shadow: 0.2px 0.2px rgb(var(--color-background-second));
}

.modal-body-info::-webkit-scrollbar {
    width: 0.5rem;
}

.modal-body-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1rem rgba(var(--color-primary), 0.2);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(var(--color-primary), 0.1);
}

.modal-body-info::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(var(--color-main-700), 0.7);
    -webkit-box-shadow: inset 0 0 1rem rgba(var(--color-primary), 0.2);
}

.modal-footer {
  justify-content: space-evenly;
  color: rgb(var(--color-primary));
  background: rgb(var(--color-background-second));
}

.modal-footer a {
  text-decoration: none;
  color: rgb(var(--color-main-700));
  text-shadow: 0.2px 0.2px rgb(var(--color-background-second));
  padding: 0.5rem;
}
.footer-links {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.4rem;
  cursor: pointer;
}
.footer-links:hover i,
.footer-links:focus i {
  color: rgb(var(--color-main-700));
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
  text-shadow: none;
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .modal-header h2 {
    margin-left: 10%;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 70vw !important;
    margin: 1.75rem auto !important;
  }
}

@media (min-width: 200px) {
  .modal-dialog {
    position: relative;
    width: 70vw;
    margin: 1rem auto;
    pointer-events: none;
  }
}
