.active {
  border-bottom: 4px solid var(--secondary);
  transition: all 0.2s ease-out;
}


.nav-scrolled {
  background: linear-gradient(90deg, rgb(33, 33, 33) 0%,
   rgb(45, 45, 45) 100%);
  opacity: 0.95;
}
