.projects {
  background: url('../images/dots.svg') center;
  box-shadow: inset 0 0 0 2300px rgb(var(--color-background-main), 82%);
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  word-spacing: 0.2rem;
}

.projects h1 {
  text-align: center;
  margin: 40px 0;
  color: rgb(var(--color-main-700));
}

.projects_img_offset {
  max-width: unset !important;
  width: auto !important;
}

.projects__container {
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  background: linear-gradient(to right bottom, rgba(var(--color-primary), 0.1), rgba(var(--color-background-main), 0.3), rgba(var(--color-primary), 0.2), rgba(var(--color-background-main), 0.5), rgba(var(--color-primary), 0.3), rgba(var(--color-background-main), 0.7));
}

.projects__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.projects__items {
  margin-bottom: 24px;
  display: block;
  flex-wrap: wrap;
}

.projects__item {
  position: relative;
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  min-width: 40vw;
  max-width: 41vw;
  margin-top: 2rem;
}

.projects__item h2 {
  z-index: 1;
  position: absolute;
  color: rgb(var(--color-main-700));
  padding: 0 auto;
  top: -2.5rem;
  left: 2rem;
  letter-spacing: 0.2rem;
}

.projects__item__link {
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.projects__item__link:hover{
  box-shadow: 5px 5px 20px 5px rgb(var(--color-primary), 10%);
}

.projects__item__link:hover .projects__skills > span {
  background-color: rgb(var(--color-background-third), 90%);
  color: rgb(var(--color-main-700), 90%) !important;
  box-shadow: 1px 1px 5px 1px rgb(var(--color-primary), 10%);
}
.projects__item__pic-wrap {
  position: relative;
  min-width: 85%;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}
.projects__item__pic-wrap {
  height:  100%;
}
.projects__item__img {
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.projects__item__link:hover .projects__item__img {
  opacity: 1;
}

.projects__item__info {
  display: flex;
  background: rgb(var(--color-background-second), 50%);
  padding: 10px 15px 10px;
  min-height: 12.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.projects__item__info h5 {
  justify-content: center;
  align-content: center;
  display: flex;
  padding: 0px 15px;
  color: rgb(var(--color-main-500));
}

.projects__skills {
  margin-bottom: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: wrap;
}

#mobile-gif {
  width: auto;
}
.projects__skills span {
  margin: 0.4rem 0.2rem;
  padding: 5px 6px !important;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  background-color: rgb(var(--color-background-third), 70%);
  font-variant: petite-caps;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-main-500), 70%) !important;
  font-variant: all-petite-caps;
  transition: all 0.5s ease-in-out;
  line-height: 1.5rem;
}

.projects__skills span:before {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-right: 5px;
  font-size: larger;
}
@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .projects__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .projects__item {
    margin-bottom: 2rem;
    max-width: 85vw;
  }
  .projects__item h2 {
    font-size: 1.2rem;
    top: -3.5rem;
    left: 0.5rem;
  }
  .projects__item__link {
    min-width: 45vw;
  }
  .projects__skills {
    display: block;
  }
  .projects__container {
    width: 80%;
  }
}
@media only screen and (max-width: 400px) {
  .projects__skills span {
    margin-right: 3px;
    margin-top: 3px;
    padding: 1px 3px !important;
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
  }
}

.disabled-link {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
}