.projects {
  background: url('../images/dots.svg') center;
  box-shadow: inset 0 0 0 2300px rgb(var(--color-background-main), 62%);
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  word-spacing: 0.2rem;
}

.projects h1 {
  text-align: center;
  margin: 40px 0;
  color: rgb(var(--color-main-700));
  text-shadow: 0.4px 0.4px rgb(var(--color-background-second));
}

.projects__container {
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  background: linear-gradient(to right bottom, rgba(var(--color-primary), 0.2), rgba(var(--color-background-main), 0.3), rgba(var(--color-primary), 0.4), rgba(var(--color-background-main), 0.5), rgba(var(--color-primary), 0.6), rgba(var(--color-background-main), 0.7));
}

.projects__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.projects__items {
  margin-bottom: 24px;
  display: block;
  flex-wrap: wrap;
}

.projects__item {
  position: relative;
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  min-width: 40vw;
}

.projects__item h2 {
  z-index: 1;
  position: absolute;
  color: rgb(var(--color-main-700));
  text-shadow: 0.4px 0.4px rgb(var(--color-background-second));
  padding: 0 auto;
  top: -2.5rem;
  left: 2rem;
  letter-spacing: 0.2rem;
}

.projects__item__link {
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
  width: 100%;
  box-shadow: 2px 1px 1px 1px rgba(var(--color-primary), 30%);
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.projects__item__pic-wrap {
  position: relative;
  min-width: 85%;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.projects__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.projects__item__img:hover,
.projects__item__img:focus {
  transform: scale(1.05);
  outline: none;
}

.projects__item__info {
  background: rgb(var(--color-background-main), 60%);
  padding: 10px 15px 10px;
  min-height: 138px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.projects__item__info h5 {
  justify-content: center;
  align-content: center;
  display: flex;
  padding: 0px 15px;
  color: rgb(var(--color-main-500));
  text-shadow: 0.4px 0.4px rgb(var(--color-background-second));
}

.projects__skills {
  margin-bottom: 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;

}

.projects__skills span {
  margin-right: 3px;
  margin-top: 5px;
  padding: 3px 6px;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  background-color: rgb(var(--color-background-third), 40%);
  font-variant: petite-caps;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-main-300)) !important;
  font-variant: all-petite-caps;
}

.projects__skills span:before {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-right: 5px;
  font-size: larger;
}
@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .projects__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .projects__item {
    margin-bottom: 2rem;
    max-width: 85vw;
  }
  .projects__item__link {
    min-width: 45vw;
  }
  .projects__skills {
    display: block;
  }
  .projects__container {
    width: 80%;
  }
}
